{% extends "base_generic.html"%}

{% block content %}
<div class="d-flex justify-content-center bg-dark text-white mb-1">
	<h1 class="display-1 h1 border-bottom mb-5">Maps</h1>
</div>
<!--
<div class="d-flex bg-warning mb-4 p-3">

        {% for map in map.list %}
        	<a href="{{map.get_absolute_url}}" class="link-info display-3 justify-content-around text-danger">
			<img src="{{ map.get_image_url }}" class="mx-auto thumbnail" width="100" heigth="100" > {{ map.name }}</a>
        {% endfor %}

</div>
-->








        {% if map_list %}
        <div class="flex-column bg-dark display-6 text-center ">
                {% for map in map_list %}
                                <a class="text-decoration-none text-danger mt-5" href="{{map.get_absolute_url}}">
                                        <img src="{{ map.get_image_url }}" class="mx-auto thumbnail" width="400" height="200"> {{ map.name }}
                                </a>
                {% endfor %}
                </div>
        </div>
        {% endif %}
{% endblock %}
