
{% extends "base_generic.html" %}

{% block content %}

<div class="d-flex justify-content-center bg-dark text-white mb-1">
<h1 class="display-1 h1 border-bottom mb-5">{{map.name}}</h1>

</div>

<!-- Info de la Persona -->


<div class="d-inline mb-5 bg-dark text-light mb-5 ">
<div class="d-flex bg-dark mb-4 ">

                <!-- Datos de la persona -->
                <div class="col-6 display-6 border-dark border text-center ">
               		<p class=" text-center">{{map.description}}</p>
		</div>

<!-- Fin Datos de la persona -->
<!-- Foto de perfil -->


                <div class="col-6 d-flex border border-dark justify-content-center align-content-center">

			<img src="{{ map.get_minimap_url }}" class="img-responsive" width="90%" height="10%" >
                </div>

</div>
<!-- Fin Foto de perfil -->







<!-- Fin Info de la Persona-->
<!--  Historia del Player -->

<div class="d-flex justify-content-center bg-dark text-white mb-1">
<h1 class="display-1 h1 border-bottom mb-5">Agent tier list</h1>

</div>

{%for tier in map.tier_list.all%}
<div class="d-inline mb-5 bg-black text-light mb-5 ">
<div class="d-flex  bg-dark">

	
	<div class="d-flex col-3 justify-content-center border border-right">
		<h1 class="display-3 h1 ">{{tier.name|slice:"-1:"}}</h1>
	</div>

	<div class="d-flex col-9  p-3 justify-content-around border">
         	 {% for agent in tier.agents.all %}
		  <a href="{{agent.get_absolute_url}}" class="link-info display-6 justify-content-around text-danger"> 

                                          <img src="{{ agent.get_icon_url }}" class="mx-auto thumbnail" width="50" heigth="50" > </a>
          {% endfor %}
              </div>
</div>

</div>
{% endfor %}
<!-- Fin Historia del Player -->
<!--  Pool de agentes  -->









{% endblock %}

