{% extends "base_generic.html" %}

{% block content %}
<div class="d-flex justify-content-center bg-dark text-white mb-1">
<h1 class="display-1 h1 border-bottom mb-5">Players</h1>

</div>

    {% if player_list %}
    <ul>

      {% for player in player_list %}
      <li class="display-6 mb-5 text-dark">
        <a class="text-white" href="{{ player.get_absolute_url }}">{{ player.nick }}</a> ({{player.fullname}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No existen jugadores en el equipo.</p>
    {% endif %}
{% endblock %}
~                
