{% extends "base_generic.html" %}

{% block content %}
<div class="d-flex justify-content-center bg-dark text-white border mb-1">
<h1 class="display-1 h1 border-bottom mb-5">Players</h1>

</div>





<div class="bg-danger">
<div class="container">
         {% if player_list %}
         <ul class="row justify-content-center">
                {% for player in player_list %}
                                 <a  class=" col-sm-4 display-6 text-white text-center text-decoration-none mt-3" href="{{player.get_absolute_url}}">
                                         
                                 <li class=" bg-dark text-center border " style="list-style-type: none">
					 <img src="{{ player.get_image_url }}" class="img-fluid mx-auto max-width:100% height:auto border mt-5 mb-5">
					
					 	<p class=" mt-3 mb-5 bg-success"    > {{ player.nick }}</p>
					 
                 
				 </li></a>
                 {% endfor %}    
         </ul>                      
         </div>
         </div>
         {% endif %}
 {% endblock %}

