{% extends "base_generic.html" %}

{% block content %}
<div class="d-flex justify-content-center bg-dark text-white border mb-1">
<h1 class="display-1 h1 border-bottom mb-5">Players</h1>

</div>





<div class="bg-danger">
         {% if player_list %}
         <ul class="row justify-content-around ">
                {% for player in player_list %}

                                 <a  class=" col-sm-4 text-white text-center text-decoration-none mt-3" style="font-size: calc(1rem + 1vw)"  href="{{player.get_absolute_url}}">
					        
					 <li class=" bg-dark text-center border " style="list-style-type: none; height: calcu(12rem + 1vw) ">
					 <p class="px-3 "    > {{ player.nick }}</p>

					 <img src="{{ player.get_image_url }}" class="img-fluid mx-auto max-width:auto height:200px border border-white  mb-5" style="height:5em">
			
					 
                 
				 </li></a>
                 {% endfor %}    
         </ul>                      
         {% endif %}
</div>
 {% endblock %}

