{% extends "base_generic.html" %}

{% block content %}
<div class="d-flex justify-content-center bg-dark text-white mb-1">
<h1 class="display-1 h1 border-bottom mb-5">{{player.nick}}</h1>

</div>

<!-- Info de la Persona -->


<div class="d-inline mb-5 bg-white text-light mb-5 ">
<div class="d-flex bg-dark mb-4 ">

		<!-- Datos de la persona -->
		<div class="col-6 display-5 border-dark border text-center ">
			<p><strong> Nombre Completo:  </strong> {{player.fullname }}</p>
			<p><strong> Nacionalidad:  </strong>{{ player.country }}</p>
			<p><strong> Nacimiento:  </strong>{{ player.birthday }}</p>
			<p><strong> Horas jugadas:  </strong>{{ player.played_hours }}</p>
			<p><strong> Rank:  </strong>{{ player.rank }}</p>
		</div>

<!-- Fin Datos de la persona -->
<!-- Foto de perfil -->


		<div class="col-6 d-flex border border-dark ">
			<img src="{{ player.get_image_url }}"class="img-fluid mx-auto max-width:auto height:20em border border-white  mb-5"> 
		</div>

</div>
<!-- Fin Foto de perfil -->







<!-- Fin Info de la Persona-->
<!--  Historia del Player -->

<div class="d-flex justify-content-center bg-dark text-white mb-1">
<h1 class="display-1 h1 border-bottom mb-5">Historia</h1>

</div>


<div class="bg-dark mb-4">
	<div class="display-6 p-5  bg-dark text-light"> 
		<p class=""><strong>{{player.description}}.</strong></p>
	</div>

</div>

<!-- Fin Historia del Player -->
<!--  Pool de agentes  -->



<div class="d-flex justify-content-center bg-dark text-white mb-1">
<h1 class="display-1 h1 border-bottom mb-5 text-center">Pool de agentes</h1>

</div>

<div class="bg-dark">
	<ul class="row justify-content-center px-3 py-3">
	{% for agent in player.agents.all %}
                                <a  class=" col-sm-4 display-6 text-white text-center text-decoration-none mt-3" style="font-size: calc(1rem + 1vw)" href="{{agent.get_absolute_url}}" >
					<li class=" bg-dark text-center border " style="list-style-type: none; height: calcu(12rem + 1vw) ">
						<p class="px-3 "    > {{ agent.name }} </p>
				<img src="{{ agent.get_icon_url }}" class="img-fluid mx-auto max-width:auto height:200px border border-white  mb-5" style="height:5em"> 
                  </li></a>

	{% endfor %}
	</ul>
</div>






<!-- Fin Pool de agentes -->


<!-- Settings -->

<div class="d-flex justify-content-center bg-dark text-white mb-2">
	<h1 class="display-1 h1 border-bottom mb-5">Settings</h1>
</div>

<div class="d-inline display-6 justify-content-center text-center text-white mb-4">
	<div class="mb-5">
		<div class="border border-light bg-dark">
			{% if not player.sensivility is None %}
			        <p><strong> Sensivility:  </strong>{{player.sensivility}}</p>
			{% endif %}
			{% if not player.dpi is None %}
			        <p><strong> Dpi:  </strong>{{player.dpi}}</p>
			{% endif %}
			{% if not player.monitor is None %}
			        <p><strong> Monitor:  </strong>{{player.monitor}}</p>
			{% endif %}
			{% if not player.mouse is None %}
			        <p><strong> Mouse:  </strong>{{player.mouse}}</p>
			{% endif %}
		</div>
		<div class="border border-light bg-dark">
			{% if not player.mousepad is None %}
			        <p><strong> Mousepad:  </strong>{{player.mousepad}}</p>
			{% endif %}
			{% if not player.keyboard is None %}
			        <p><strong> Keyboard:  </strong>{{player.keyboard}}</p>
			{% endif %}
			{% if not player.headset is None %}
			        <p><strong> Headset:  </strong>{{player.headset}}</p>
			{% endif %}
			{% endblock %}

	
		</div>
	</div>
</div>
</div>
